<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.friend.dao.ChatdialogMapper" >
  <resultMap id="BaseResultMap" type="com.rong.friend.model.Chatdialog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="sortno" property="sortno" jdbcType="INTEGER" />
    <result column="newchat" property="newchat" jdbcType="VARCHAR" />
    <result column="unreadchat" property="unreadchat" jdbcType="INTEGER" />
    <result column="friendsid" property="friendsid" jdbcType="VARCHAR" />
    <result column="lastdt" property="lastdt" jdbcType="TIMESTAMP" />
    <association property="friends" javaType="com.rong.friend.model.Friends">
    	<id property="id" column="fid" jdbcType="VARCHAR"/>
    	<result property="remark" column="remark"/>
    	<association property="user" javaType="com.rong.friend.model.User">
	    	<id property="id" column="uid" jdbcType="VARCHAR"/>
	    	<result property="namenumber" column="namenumber" jdbcType="VARCHAR"/>
	    	<result property="nickname" column="nickname" jdbcType="VARCHAR"/>
	    	<result property="headportrait" column="headPortrait" jdbcType="VARCHAR"/>
    	</association>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, sortno, newchat, unreadchat, friendsid, lastdt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from chatdialog
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectChatdialogByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  		c.id,c.sortno,c.newchat,c.unreadchat,c.lastdt,f.id as fid,f.remark,u.id as uid ,u.namenumber,u.nickname,u.headPortrait
  	from chatdialog c inner join friends f on c.friendsid=f.id
  		inner join user u on f.userid=u.id
  	where c.userid=#{userId,jdbcType=VARCHAR} and f.status!=0 order by c.sortno
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
  	update chatdialog set sortno=sortno-1 from (select sortno,userid where id=#{id,jdbcType=VARCHAR}) a where sortno>a.sortno and userid=a.userid;
    delete from chatdialog
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rong.friend.model.Chatdialog" >
  	update chatdialog set sortno=sortno+1 where userid=#{userid,jdbcType=VARCHAR};
    insert into chatdialog (id, userid, sortno, 
      newchat, unreadchat, friendsid, 
      lastdt)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{sortno,jdbcType=INTEGER}, 
      #{newchat,jdbcType=VARCHAR}, #{unreadchat,jdbcType=INTEGER}, #{friendsid,jdbcType=VARCHAR}, 
      #{lastdt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rong.friend.model.Chatdialog" >
  	<if test="userid != null">
  		update chatdialog set sortno=sortno+1 where userid=#{userid,jdbcType=VARCHAR};
  	</if>
    insert into chatdialog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="sortno != null" >
        sortno,
      </if>
      <if test="newchat != null" >
        newchat,
      </if>
      <if test="unreadchat != null" >
        unreadchat,
      </if>
      <if test="friendsid != null" >
        friendsid,
      </if>
      <if test="lastdt != null" >
        lastdt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        #{sortno,jdbcType=INTEGER},
      </if>
      <if test="newchat != null" >
        #{newchat,jdbcType=VARCHAR},
      </if>
      <if test="unreadchat != null" >
        #{unreadchat,jdbcType=INTEGER},
      </if>
      <if test="friendsid != null" >
        #{friendsid,jdbcType=VARCHAR},
      </if>
      <if test="lastdt != null" >
        #{lastdt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rong.friend.model.Chatdialog" >
    update chatdialog
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        sortno = #{sortno,jdbcType=INTEGER},
      </if>
      <if test="newchat != null" >
        newchat = #{newchat,jdbcType=VARCHAR},
      </if>
      <if test="unreadchat != null" >
        unreadchat = #{unreadchat,jdbcType=INTEGER},
      </if>
      <if test="friendsid != null" >
        friendsid = #{friendsid,jdbcType=VARCHAR},
      </if>
      <if test="lastdt != null" >
        lastdt = #{lastdt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rong.friend.model.Chatdialog" >
    update chatdialog
    set userid = #{userid,jdbcType=VARCHAR},
      sortno = #{sortno,jdbcType=INTEGER},
      newchat = #{newchat,jdbcType=VARCHAR},
      unreadchat = #{unreadchat,jdbcType=INTEGER},
      friendsid = #{friendsid,jdbcType=VARCHAR},
      lastdt = #{lastdt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateTopChat" parameterType="com.rong.friend.model.Chatdialog">
  	update chatdialog set sortno=0 where id=#{id};
update chatdialog c inner join (select b.sortno,b.userid from chatdialog b where b.id=#{id}) a on 1=1 set c.sortno=c.sortno+1 where c.sortno>a.sortno and c.userid=a.userid ;
update chatdialog set sortno=1 where id=#{id};
  </update>
</mapper>